.page-container {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    text-align: center;
    color: #333;
}

.heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.subheading {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
}

.overview-button {
    display: inline-block;
    text-decoration: none;
    background-color: #144aff;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.overview-button:hover {
    color: white;
    background-color: #003ecc;
}

#quiz-dismissals .row,
#quiz-descriptors .row {
    margin-bottom: 1.5rem; /* Adds spacing between rows */
}

.dismissal {
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border: 2px solid #144aff; /* Updated border color */
    border-radius: 8px;
    cursor: move;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.droppable-area {
    min-height: 3rem;
    border: 3px dashed #144aff; /* Updated border style and color */
    border-radius: 8px;
    padding: 0.5rem;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}