{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/quiz.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <script>
        let content = {{content|tojson}} 
    </script>
    <div class="container">   
    <div class="row" >
        <div class="col-12 centered">
            <h1>Cricket Quiz</h1>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 centered">
            <h2>Test your knowledge</h2>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 centered">
            <h3>Drag the correct answer to the box</h3>
        </div>
    </div>


    <div class="row" id="">
        <div class="col-3" id="quiz-dismissals">
            
        </div>
        <div class="col-3">
        </div>
        <div class="col-6" id="quiz-descriptors">

        </div>
    </div>


    <div id="records">
        <!--New records go here-->
    </div>

    <div id="quiz-container">
        <!-- Existing quiz content -->
        <button id="submit-quiz" class="submit-button">Submit</button>
    </div>

    <div id="error-popup" class="error-popup hidden">
        <p id="error-message"></p>
        <button id="close-popup">Close</button>
    </div>

    <div id="exit-popup" class="hidden">
        <div class="popup-content">
            <p>You will lose your progress if you leave the quiz. Do you want to continue?</p>
            <button id="confirm-exit">Leave quiz</button>
            <button id="cancel-exit">Go back to quiz</button>
        </div>
    </div>
    </div>

{% endblock %}

