{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='transition.css') }}">

<section class="transition-hero">
  <div class="transition-content">
    <h1 class="main-heading darkGrey">Ready to test what you have learned?</h1>
    <p class="sub-heading lightGrey">You're all caught up! You've explored all 10 types of cricket dismissals.</p>

    <div class="actions">
      <a href="{{ url_for('overview') }}" class="action-btn secondary-btn">Restart Learning</a>
      <a href="{{ url_for('quiz') }}" class="action-btn primary-btn">Take Quiz</a>
    </div>
  </div>
</section>
{% endblock %}
